<div class="control-section">
  <ejs-treegrid
    #grid
    [allowFiltering]='isEnableFilter'
    [allowReordering]="false"
    [allowResizing]="true"
    [treeColumnIndex]='0'
    [(dataSource)]='data'
    [editSettings]="editSettings"
    [frozenColumns]="frozenColumns"
    [allowSorting]='allowSorting'
    [allowMultiSorting]='allowSorting'
    height='100%'
    width='100%'
    [showColumnChooser]='true'
    [columns]="columns"
    [selectionSettings]='selectionOptions'
    [allowRowDragAndDrop]='true'
    [copyHierarchyMode]='"None"'
    [enableVirtualization]='true'
    hasChildMapping='isParent' parentIdMapping='parentIndex' idMapping='taskID'
    (actionComplete)="actionComplete($event)"
    (actionBegin)="actionBegin($event)"
    (rowDrop)="rowDrop($event)"
    (expanding)="refreshGrid()"
  >
  </ejs-treegrid>
</div>

<ejs-contextmenu
  #contextMenu
  target='.e-grid'
  [items]='contextMenuItems'
  (beforeOpen)='beforeOpenContextMenu($event)'
  (beforeItemRender)='itemRender($event)'
  (beforeClose)='beforeCloseCM($event)'
  (select)='select($event)'
>
</ejs-contextmenu>

<ejs-dialog
  id="dialogEdit"
  #dialogEdit
  [visible]='visible'
  showCloseIcon='true'
  (open)="dialogOpen($event)"
  (beforeOpen)="beforeOpenDialog()"
  width='30%'
>
  <ng-template #header>
    Rename a column
  </ng-template>
  <ng-template #content>
    <input id="inVal" class="e-input" type="text" placeholder="Enter here!"/>
    <button id="renameButton" class="e-control e-btn e-primary" data-ripple="true">Rename</button>
  </ng-template>
</ejs-dialog>

<ejs-dialog
  id="dialogStyle"
  #dialogStyle
  [visible]='visible'
  showCloseIcon='true'
  (open)="dialogOpen($event)"
  width='30%'
>
  <ng-template #header>
    Style
  </ng-template>
  <ng-template #content>
    <div [formGroup]="styleForm">
      <div class="form-group">
          <div class="e-float-input e-control-wrapper">
            <input formControlName="minWidth"  maxlength=4 id="minWidth" name="minWidth" type="text" >
            <span class="e-float-line"></span>
            <label class="e-float-text e-label-top" for="minWidth">Min Width</label>
          </div>
      </div>
      <div class="form-group">
          <ejs-dropdownlist
            id="typeData"
            formControlName="typeData"
            popupHeight='300px'
            placeholder=" Data-Type"
            floatLabelType='Always'
            [dataSource]='dataTypes'
            [fields]="{text: 'text', value: 'value' }"
          >
          </ejs-dropdownlist>
      </div>
      <div class="form-group">
        <ejs-dropdownlist
          id="textAlign"
          formControlName="textAlign"
          popupHeight='300px'
          placeholder=" Alignment"
          floatLabelType='Always'
          [dataSource]='alignment'
          [fields]="{text: 'text', value: 'value' }"
        >
        </ejs-dropdownlist>
      </div>
      <div class="form-group">
        <div class="e-float-input e-control-wrapper">
          <input formControlName="fontSize" name="fontSize" id="fontSize" />
          <span class="e-float-line"></span>
          <label class="e-float-text e-label-top" for="fontSize">Font-Size</label>
        </div>
      </div>
      <div class="form-group">
        <div class="e-float-input e-control-wrapper">
          <input type="color" formControlName="fontColor" name="fontColor" id="fontColor"/>
          <span class="e-float-line"></span>
          <label class="e-float-text e-label-top" for="fontColor">Font-color</label>
        </div>
      </div>
      <div class="form-group">
        <div class="e-float-input e-control-wrapper">
          <input  type="color" formControlName="backgroundColor" name="backgroundColor" id="backgroundColor" />
          <span class="e-float-line"></span>
          <label class="e-float-text e-label-top" for="backgroundColor">Background-color</label>
        </div>
      </div>
    <div class="form-group">
      <ejs-dropdownlist
        id="textWrap"
        formControlName="textWrap"
        popupHeight='300px'
        placeholder=" Text-Wrap"
        floatLabelType='Always'
        [dataSource]='textWrap'
        [fields]="{text: 'text', value: 'value' }"
      >
      </ejs-dropdownlist>
    </div>
  </div>
  </ng-template>
  <ng-template #footerTemplate>
    <button id="saveButton" class="e-control e-btn e-primary sendButton" data-ripple="true">Save</button>
  </ng-template>
</ejs-dialog>
