.control-section {
  height: 100vh;
}

::ng-deep .e-grid {
  .e-content {
    cursor: default;
  }
  .e-movablecontent,
  .e-movableheader {
    & > .e-table {
      width: 100% !important;
    }
  }

  .bg-pink {
    background: pink !important;
    & > .e-active {
      background: unset;
    }
  }

  .e-gridheader .e-icons:not(.e-icon-hide):not(.e-check):not(.e-stop) {
    padding-right: 2.8em;
  }
}

::ng-deep .e-dialog .e-dlg-header-content {
  padding: 18px;
}
