.control-section {
  height: 100vh;
}

::ng-deep .e-grid {
  &.e-gridhover
    tr[role="row"]:not(.e-editedrow):hover
    .e-rowcell:not(.e-cellselectionbackground):not(.e-active):not(.e-updatedtd):not(.e-indentcell) {
    background-color: #eee !important;
    color: #000 !important;
  }
  .e-content {
    cursor: default;
  }
  .e-movablecontent,
  .e-movableheader {
    & > .e-table {
      width: 100% !important;
    }
  }
  td.e-active {
    background: #e0e0e0 !important;
    color: #000 !important;
  }

  .bg-pink > td {
    background: pink !important;
    & > .e-active {
      background: unset;
    }
  }

  .e-gridheader .e-icons:not(.e-icon-hide):not(.e-check):not(.e-stop) {
    padding-right: 2.8em;
  }

  .e-treecell {
    line-height: normal !important;
  }
}

::ng-deep .e-dialog .e-dlg-header-content {
  padding: 18px;
}
